.card .feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
  color: white !important;
  margin-top: -3rem;
  padding: 1rem;
}
